body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: peachpuff;
    display:grid
}

h1 {
    color:beige;
    background-color:rebeccapurple;
    padding: 50px;
}
#header {
    background-color:goldenrod;
}
#header2 {
    background-color:crimson;
}
#header3 {
    background-color: darkgreen;
    color:beige;
}
.titles {
    background-color: darkkhaki;
}

@media screen and (min-width:950px){
    body{
        width:950px;
        margin-left: auto;
        margin-right: auto;
      }
    
}
